
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'The Aesthetic Essential', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202221;
    color: #efe1c7;
    padding: 10px 0;
    z-index: 1000;
}

h1 {
    text-align: center;
    padding: 0 10px;
    color:#f2bcba;
}

h3{
    font-size: 35px;
    padding-left: 15px;
    color:#e1435b;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

body {
    background-color: #efe1c7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

p{
    padding-left: 15px; 
    font-size: 15px;
}

high{
    font-size:15px;
    font-weight: bold;
    color: #e1435b;
}
.header-content {
    margin: 2rem 0;
}

section {
    padding: 2rem;
}


#contact{
    outline-style:solid;
    outline-color: #e1435b;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:#202221;
    background-color: #202221;
}

#contact:hover{
    outline-style: solid;
    outline-color: #f2bcba;
}

a{
    color: #202221;
}

footer {
    background: #202221;
    color: #f2bcba;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding-top: 60px;
}

.right-links {
    margin-left: auto;
}

.right-links a {
    margin-left: 15px; /* Space between the links */
    text-align: right;
    color: #fff; /* Ensure the color is white */
}

